# Created by venv; see https://docs.python.org/3/library/venv.html
# Dataset files
data/raw/*.parquet
data/processed/*.parquet

# Python environment
venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/